
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* ---------------- Estilos Globais ---------------- */
body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 1rem;
    background-color: #f2f1f7;
    font-family: "Roboto Serif", serif;
    
    
}

h1 {
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
    font-size: 0;
    position: absolute;
    left: -9999px;
}


h2 {
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #0E304C;
    margin-bottom: 40px;
}

p {
    font-size: clamp(1rem, 2vw, 1rem);
    color: #3d3a3a;
    line-height: 1.55rem;
    letter-spacing: 0.03em;
    margin: 0;
}

/* ---------------- Cabeçalho ---------------- */
header {
    background-color: #F8F7F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
   padding: 40px 20px;
}



header .col.logo {
    flex-basis: 33%;
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 7rem;
}

header .col.menu {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
}



header .col.social {
    flex-basis: 33%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

header .social-icon-img {
    width: 2rem;
    height: 2rem;
}

/* ---------------- Navegação ---------------- */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.2rem;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(1rem, 2.25vw, 1.25rem);
    color: #2da145;
    font-size: 1.6rem;
    margin-left: 40px;
}

nav ul li a:hover {
    opacity: 0.8;
}

/* ---------------- Seção Sobre Nós ---------------- */
.sobre-nos {
    width: 80%;  
    margin: auto;
    padding: 4rem;
}
#nos{
    background-color:#F8F7F5;
    background-color: #FFF;
    
    
}


.texto-sobre-imagem p {
    margin: auto;
    font-weight: 400;
    font-size:1.1rem;
    margin-top: 20px;
    line-height: 2.5rem;
    box-sizing: border-box;
    text-align: justify;
    
}
.texto-sobre-imagem strong {
    background-color: rgba(158, 233, 72, 0.596);
    border-radius: 8px;
    font-size: 2rem bold;
   
}
.texto-sobre-imagem h2{
    text-align: center;
   
}

/* ---------------- Seção Serviços ---------------- */
.servicos {
    padding: 4rem;
    margin: auto;
    width: 80%;
    background-color: #FFF;
   
    
}

.servicos .card-section {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 1.5rem;
}

.servicos .card {
    background: #fff;
    border: 0.748783px solid #2DA145;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.08);
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}

.servicos .card:hover {
    transform: translateY(-0.3125rem);
}

.servicos .card img {
    width: 100%;
    height: 22.25rem;
   object-fit: cover;
    object-position: top;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.servicos .card-content {
    padding: 1.25rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servicos .card-content h4 {
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
    font-size: 1.125rem;
    color: #0E2E4B;
    margin-bottom: 0.625rem;
}

.servicos .card-content p {
    font-size: 0.9rem;
    color: #726f6f;
    margin-bottom: 1.25rem;
    line-height: 1.5;
    flex-grow: 1;
}

.servicos .card-button {
    text-decoration: none;
    font-weight: 400;
    font-size: 0.880rem;
    padding: 0.625rem 1.25rem;
    background: #2da145;;
    color: #FFF;
    border-radius: 0.375rem;
    font-family: "Roboto Serif", serif;
    font-weight: 700;
    transition:  0.3s ease;

}
.card-button {
    text-align: center;
}

.servicos .card-button:hover {
    background-color: #c72797;
}

/* ---------------- Seção Contato ---------------- */
.contato {
    background-color: #FFF;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 4rem;
    padding: 4rem;
}

.contato .formulario,
.contato .mapa {
    flex: 1 1 45%;
}

.contato form input {
    width: 95%;
    padding: 0.625rem;
    margin-bottom: 2rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.375rem;
    margin-top: 0.25rem;
}
.contato form textarea {
    width: 95%;
    padding: 0.625rem;
    margin-bottom: 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.375rem;
    margin-top: 0.25rem;
    height: 3rem;
}
.contato form button {
    font-family: "Roboto Serif", serif;
    letter-spacing: 0.2rem;
    padding: 0.625rem 1.25rem;
    border: none;
    background-color: #2da145;;
    color: #fff;
    font-weight: 700;
    border-radius: 0.375rem;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.contato iframe {
    width: 100%;
    height: 78%;
    border: 0;
}

.contato .mapa p {
    font-size: 13px;
}

.contato .formulariobox {
    padding-top: 2.5rem;     
 }


/* ---------------- Rodapé ---------------- */
footer {
    background-color: #000;
    color: #f0f0f0;
    padding: 2rem 1.25rem;
    text-align: center;
}

footer > div {
    max-width: 68.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 20px;
}

footer a:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

footer a .social-icon-img {
    width: 20px;
    height: 20px;
    display: block;
    color: #FFF;
}

footer a .social-link-item {
    gap: 10rem;
}

footer p {
    font-size: 13px;
    color: #bbbbbb;
}

/* ---------------- Botão Flutuante WhatsApp ---------------- */
.whatsapp-float {
    position: fixed;
    width: 3.75rem;
    height: 3.75rem;
    bottom: 2rem;
    right: 2rem;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0.125rem 0.125rem 0.375rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.whatsapp-float img {
    width: 3.4375rem;
    height: 3.4375rem;
    display: block;
}

.whatsapp-float:hover {
    background-color: #1DAE54;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

/* ---------------- Estilos Mobile ---------------- */
@media screen and (max-width: 768px) {
    header {
    display:block;
    width: 100%;    
    }

    h2{
        font-size: 2rem;
    }

    p{
        text-align: justify;
        font-size: 1rem;
    }
    
    nav a {
        font-size: 0.1rem;
    }

    header .col.logo {
        height: 150px;
        background-image: url('img/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        
       
    }
    
   header {
    display: block;
    align-items: center;
    padding: 20px 0px;
    box-sizing: border-box;
}
header .col.menu {
    background-color: #2DA145;
    padding: 20px;
    margin-top: 2rem;
}
    
    .col.menu a{
       
        font-size: 1rem;
        color: #fff;
        
        
      
}

    header .col.social {
        display: none;
    }

    .sobre-nos {
        
        background-image: none;
        display: block;
        padding: 2rem;
    }

    .sobre-nos::after {
        content: "";
        display: block;
        width: 100%;
        
        background-image: url('img/banner.png');
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: 0.75rem;
        background-size: cover;
        background-position: left center;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 2rem;
    }

    .sobre-nos .texto-sobre-imagem {
        width: 100%;
        box-sizing: none;
    
    }
    .texto-sobre-imagem  p{
        
        font-size: 1rem;
        margin-left: 40px;
        width:100%;
        margin: 0;
    }

    .servicos {
        padding: 2rem;
    }

    .servicos .card-section {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 2rem;
    }

    .servicos .card {
        max-width: 100%;
    }

    .contato {
        padding: 2rem;
        flex-direction: column;
    }

    .contato .formulario,
    .contato .mapa {
        flex: 1 1 100%;
    }

    .contato .formulariobox {
        padding-top: 1.5rem;
        
    }
    
}


@media screen and (min-width: 768px) and (max-width: 992px){
  
  .texto-sobre-imagem{
    width: 100%;
    
  }
 .texto-sobre-imagem p{
   width: 100%;
   font-size: 1rem;
   text-align: justify;
     
 }
 .col.logo {
    flex-basis: 100%;
    background-image: url('img/logo.png');
     background-size: 300px;
}
}


.card{
    margin-bottom: 50px;
    position:relative;
}
.card-section{
    display: block;
}
